<IfModule mod_rewrite.c>
    RewriteEngine On

    # Send everything to /public (keep Laravel structure intact)
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

